@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("Raleway-VariableFont_wght.ttf") format("truetype");
}

:root {
  --background: #121212;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-dark-gray: #6a6a6a;
  --color-medium-gray: #adadad;
  --color-light-gray: #d9d9d9;
  --color-background-dark: #121212;
  --color-dark-purple: #28242e;
  --color-light-purple: #8748e2;

  --font-open-sans: "Open Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  padding-inline: 15px;
  font-family: "Open Sans", sans-serif;
}

main {
  flex: 1;
  @apply container;
}

.fade-edge {
  -webkit-mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle,
      rgba(0, 0, 0, 1) 35%,
      rgba(0, 0, 0, 0) 55%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

nav a {
  position: relative;
}

nav a:hover span {
  left: 0;
  width: 100%;
}

@keyframes wave-dark {

  0%,
  100% {
    box-shadow: 0 0 4px rgb(135, 72, 226);
    transform: scaleY(0.1);
  }

  50% {
    transform: scaleY(2.2);
    box-shadow: 0 0 9px rgb(78, 33, 142);
  }
}

@keyframes wave-light {

  0%,
  100% {
    transform: scaleY(0.1);
    box-shadow: 0 0 4px rgba(217, 217, 217);
  }

  50% {
    transform: scaleY(2.2);
    box-shadow: 0 0 6px rgba(106, 106, 106);
  }
}

.animate-wave-dark {
  animation: wave-dark 1s ease-in-out infinite;
}

.animate-wave-light {
  animation: wave-light 1s ease-in-out infinite;
}

.dark .neon-text {
  color: #ffffff;
}

.dark .neon-text:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 5px #773ca4) drop-shadow(0 0 10px #6d309c) drop-shadow(0 0 8px #581c87);
  text-shadow: 0 0 2px rgba(31, 137, 170, 0.8), 0 0 8px rgba(0, 255, 255, 0.6),
    0 0 16px rgba(0, 255, 255, 0.4), 0 0 22px rgba(0, 255, 255, 0.2);
}

.swiper-pagination-bullet {
  background: var(--color-light-purple) !important;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: var(--color-light-purple) !important;
  opacity: 1;
}